---
// import L from "leaflet"

---
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
crossorigin=""></script>

<div id="reservaciones">
  <div class="bandeja">
    <img
      src="/assets/patio-posada-el-palmar-hotel-zihuatanejo.jpg"
      alt="patio principal hotel posada del palmar"
      class="principal"
    />

  <div id="mapayformu">
    <div id="mapa"></div>
    <div id="formulario">
      <h2>Reservaciones</h2>
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Nombre y apellidos"
      />
      <select name="habitaciones" id="habitaciones">
        <option disabled selected>Tipo de habitación</option>
        <option value="Tipo A">Habitación tipo A</option>
        <option value="Tipo B">Habitación tipo B</option>
        <option value="Tipo C">Habitación tipo C</option>
        <option value="Tipo D">Habitación tipo D</option>
      </select>
      <input
        type="date"
        name="llegada"
        id="llegada"
        placeholder="Fecha de llegada"
      />
      <input
        type="date"
        name="salida"
        id="salida "
        placeholder="Fecha de salida"
      />
      <input
        type="number"
        name="adultos"
        id="adultos"
        placeholder="Numero de adultos"
      />
      <input
        type="number"
        name="niños"
        id="niños"
        placeholder="Numero de niños"
      />
      <a href="#" class="btn">Reservar</a>
    </div>
  </div>
</div>
</div>

<style lang="scss">
  #reservaciones {
    // el h2 y los inpunts tiene sus estilos en style.scss
    background: rgb(253,232,220);
background: linear-gradient(180deg, rgba(253,232,220,1) 32%, rgba(17,25,93,1) 32%);
    .bandeja{
        margin-inline: auto;
        width: min(100% - 5rem, 1920px);
        boder: solid;

        .principal{
            width: 100%;
            height: 80vh;
            object-fit: cover;
        }
        @media (max-width:414px){
            .principal{
                height: 40vh;
            }
            #mapayformu{
                margin: 0 1rem!important;
            }
            #mapa{
                height: 300px;
            }
        }

        #mapayformu{
            display: flex;
            flex-wrap: wrap;
            margin:  0 2rem;
            translate: 0 -4rem;
            #mapa{
                flex: 1 0 50%;
                background-color: #999;
                
            }
            #formulario{
                flex: 1 0 50%;
                background-color: #FDE8DC;
                padding: 3rem;
            }
        }
    }
  }
</style>
<script is:inline>
// export class Mapa {
//   constructor() {
//     this.mapa = this.inicializarMapa()
//     this.markers = new L.LayerGroup()
//   }

//   inicializarMapa() {
//     // Inicializar y obtener la propiedad del mapa
//     const map = L.map('mapa',{
//       scrollWheelZoom:false,
//       zoomOffset: -1
//     }).setView([17.639544, -101.557177], 16)
//     const enlaceMapa = '<a href="http://openstreetmap.org">OpenStreetMap</a>'
//     L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
//       attribution: '&copy; ' + enlaceMapa + ' Contributors',
//       maxZoom: 20,
//     }).addTo(map)

//     return map
//   }

//   obtenerDatos() {
//     const pines = {
//       resultados: [
//         {
//           latitude: '17.639544',
//           longitude: '-101.557177',
//           titulo: 'Icza',
//           calle: 'Avenida Adolfo Lopez Mateos Norte 95 Italia Providencia, Guadalajara, Jalisco 44648',
//         },
//       ],
//     }

//     this.mostrarPines(pines.resultados)
//   }

//   mostrarPines(datos) {
//     // limpio marker para mostrar otra busqueda
//     this.markers.clearLayers()

//     datos.forEach((dato) => {
//       //destructurig para obtener las prop del obj
//       const { latitude, longitude, titulo, calle } = dato

//       // crear un globo de info
//       const globo = L.popup().setContent(`
//   <h3>${titulo} </h3>
//   <p> Calle: ${calle}</p>
//   `)
//       // objeto de los markers
//       const elpin = L.icon({
//         iconUrl:
//           'https://www.idmtest.com/style/img/ic-marker.svg',
//         //shadowUrl: "leaf-shadow.png",

//         iconSize: [50, 69], // size of the icon
//         //shadowSize: [50, 64], // size of the shadow
//         iconAnchor: [35, 45], // point of the icon which will correspond to marker's location
//         //shadowAnchor: [4, 62], // the same for the shadow
//         popupAnchor: [-3, -76], // point from which the popup should open relative to the iconAnchor
//       })

//       //agregar el pin por obj
//       // corchete porque es array
//       const marker = new L.marker(
//         [parseFloat(latitude), parseFloat(longitude)],
//         { icon: elpin }
//       ).bindPopup(globo)
//       //agregamos cada pin al layer del constructor
//       this.markers.addLayer(marker)
//     })
//     this.markers.addTo(this.mapa)
//   }
// }


//   const mapa = new Mapa();
//   document.addEventListener("DOMContentLoaded", () => {
//     mapa.obtenerDatos();
//   });

</script>
